.container1 {


    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 40, 131);
    flex-direction: column;
    border-radius: 30px;      
    margin-top: 40px;
   margin-left: 10% ;    
    width: 70%;

}
.btnx{
    width: 80px;
    background-color: rgb(253, 253, 255);
    display: flexbox;
    height: 80px;
    border-radius: 10px;
}
.btnx:hover{

    background-color: rgb(2, 177, 25);
}