/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at bottom, #dd9e17, #c931c9);
}

/* Moving stars */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 2px, transparent 2px);

  /* background-size: 120px 120px, 180px 180px, 250px 250px;

  animation: starsMove 20s linear infinite;

  opacity: 0.7; */
}

/* Glow overlay */


/* Hero Content */
.hero-content {
  position: relative;
  z-index: 10;

  color: white;
  text-align: center;
}

/* Typed text */
.highlight {
  color: #f9fbfc;
  text-shadow: 0 0 15px #000000;
}

/* Down arrow */
.profile {
  width: 70px;
  margin-top: 120px;

  animation: bounce 2s infinite;
}

/* Stars movement */
@keyframes starsMove {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(200px);
  }
}

/* Glow pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

/* Arrow animation */
@keyframes bounce {
  0%,100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }
}

/* Mobile */
@media(max-width:768px){

  .hero h1{
    font-size: 32px;
    padding: 0 15px;
  }

  .hero p{
    font-size: 16px;
  }

  .profile{
    width: 50px;
    margin-top: 80px;
  }
}

@media (max-width: 1000px) {
  .hero::before {
    background-size: cover;
    background-position: center top;
  }
}

.btn {
  padding: 10px 20px;
  border: none;
  background: white;
  color: #653269;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}



/* Container */
.container {
  padding: 40px;
  text-align: center;
  
}

/* Cards */
.card-container {
  
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  

}

.card {
   background: linear-gradient(to right, #f9fafa, #f6f7f8);
   
  padding: 20px;
  width: 250px;
  transition: 0.3s;

}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.profile {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  object-fit: cover;  
  margin-top: 150px;
  

}
.highlight {
  display: inline-block;
  min-width: 180px;   /* adjust based on longest word */
}
.hero h1 {
  min-height: 60px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

/* .Background{
  background: linear-gradient(to right, #d307a7, #c5d81e);
  height: 100vh;
} */